body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    background-color: antiquewhite;
    
}
.title{
    font-weight: bold;
}

hr{
    font-weight: bold;
}

.right{
    float: right;
}


.header{
    text-align: center;
}

main{
    margin: 5%;
}

.kente{
    width: 100%;
}